<footer class="footer">
  <small>
    The <a href="http://www.edit.org/">Edit app</a>
    by <a href="http://www.edit.com/">Aleksandar Golubovic</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.edit.org/">News</a></li>
    </ul>
  </nav>
</footer>
